﻿@{
    ViewBag.Title = "Informacje";
}
<h2>Zadanie rekrutacyjne</h2>
<h3>ARP Ideas</h3>

<p>
    W projekcie wykorzystano walidację i mechanizm wyboru daty z biblioteki jQuery. <br />
    Interakcja z plikami XML jest dokonana poprzez interfejs i klasę XMLSerializer.<br />
    Wykorzystano również wstrzykiwanie zależności z pomocą biblioteki AutoFac.<br />
    Klasę obsługującą serializację napisano w metodyce Test-Driven Development.
</p>
