﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
</head>
<body>
    <hgroup>
        <h1>Błąd.</h1>
        <h2>Wystąpił błąd podczas przetwarzania żądania.</h2>
    </hgroup>
</body>
</html>
