﻿@model IEnumerable<EmployeeRegister.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Pracownicy";
}

<h2>Pracownicy</h2>

<p>
    @Html.ActionLink("Dodaj", "Create") |
    @Html.ActionLink("Losuj i dodaj", "NewRandom") |

    @if (!string.IsNullOrEmpty(ViewBag.filterByName) ||
                                                    !string.IsNullOrEmpty(ViewBag.filterByPosition) ||
                                                    !string.IsNullOrEmpty(ViewBag.filterByTaxIdentificationNumber))
    {
        @Html.ActionLink("Powrót do pełnej listy", "Index")
    }
</p>

@using (Html.BeginForm(FormMethod.Get))
{
    <table>
        <tr>
            <td>Imię i nazwisko: </td>
            <td>@Html.TextBox("filterByName")</td>
        </tr>
        <tr>
            <td>Stanowisko:</td>
            <td>@Html.TextBox("filterByPosition")</td>
        </tr>
        <tr>
            <td>NIP:</td>
            <td>@Html.TextBox("filterByTaxIdentificationNumber")</td>
        </tr>
    </table>
    <input type="submit" value="Filtruj" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxIdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxIdentificationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay)
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
